[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautiful-soup = "*"
datetime = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
wpescrape = "python wpescraper.py"
orchestrate = "python main.py
